@mixin footer-color($config-or-theme) {
    $config: mat-get-color-config($config-or-theme);
    $primary: map-get($config, primary);

    app-footer {
        background-color: mat-color($primary);
        color: mat-color($primary, default-contrast);
    }
}

@mixin footer-typography($config-or-theme) {
    font: {
        family: mat-font-family($config, body-1);
        size: mat-font-size($config, body-1);
        weight: mat-font-weight($config, body-1);
    }
}

@mixin footer-theme($theme) {
    $color: mat-get-color-config($theme);
    $typography: mat-get-typography-config($theme);

    @if $color != null {
        @include footer-color($color);
    }
    @if $typography != null {
        @include footer-typography($typography)
    }
}