

<mat-card>
    <mat-card-subtitle>
      <h3>
        Input
      </h3>
      <mat-slide-toggle [(ngModel)]="spanishMode" (change)="modeChanged()">Spanish Mode {{spanishMode ? 'Active' : 'Inactive'}}</mat-slide-toggle>
      <mat-form-field appearance="outline">
        <mat-label>Pick a category</mat-label>
        <mat-select [(value)]="selectedCategory" (selectionChange)="categoryChanged(selectedCategory)">
          <mat-option [value]="''">Select</mat-option>
          <mat-option *ngFor="let cat of testCategories" [value]="cat">{{cat}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Pick a test</mat-label>
        <mat-select [(value)]="testValue" (selectionChange)="run()" [disabled]="!selectedCategory">
          <mat-option [value]="''">Select</mat-option>
          <mat-option *ngFor="let test of tests" [value]="test.testValue">{{test.testLabel}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-subtitle>
    <mat-card-content class="input-container">
      <mat-form-field class="input-feild " appearance="outline" floatLabel="always">
        <mat-label>Parser input</mat-label>
        <textarea matInput type="text" placeholder=">" [(ngModel)]="testValue"></textarea>
        <div class="action-bar">
          <button mat-raised-button color="primary" aria-label="Run" (click)="run()">
            Run 
            <mat-icon>start</mat-icon>
          </button>  
          <button *ngIf="testValue" mat-raised-button color="warn" aria-label="Clear" (click)="clear()">
            <mat-icon>close</mat-icon>
             Clear
          </button>  
        </div>
    </mat-form-field>
    <div class="logs">
      <mat-accordion>
        <mat-expansion-panel [expanded]="panelOpenState" (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-title>
        Verbose Log
        </mat-panel-title>
        </mat-expansion-panel-header>
        <p *ngFor="let log of logs">{{log}}</p>
        </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
        <mat-expansion-panel [expanded]="panelOpenState" (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-title>
        Error Log
        </mat-panel-title>
        </mat-expansion-panel-header>
        <p *ngFor="let err of errors">{{err}}</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>  
    </mat-card-content>
  </mat-card>

  <mat-card style="margin-top: 20px;">
    <mat-card-header>
      <mat-card-title>Output</mat-card-title>
    </mat-card-header>
    <mat-card-content style="padding: 30px; border: 1px #b8b6b6 solid; border-radius: 1%; box-shadow: 1px 1px 2px black;">
        <p *ngFor="let print of printingStmts">{{print}}</p>
    </mat-card-content>
  </mat-card>
  
  