:host {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "interpreters interpreters"
        "interpreters interpreters";
    padding: 10px 50px 10px 50px;
}

:host > * {
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
}

app-interpreter-panel {
    grid-area: interpreters;
}
